kafka-python==2.2.11
python-dotenv==1.0.1
torch
requests
pydub
faster-whisper
huggingface_hub
langdetect 

pyspark
python-dotenv
sentence-transformers
delta-spark==3.1.0

streamlit==1.37.0
pymongo==4.8.0
pandas==2.2.2

duckdb>=1.0.0
faker