#Driver side
delta-spark==3.1.0
apache-airflow-providers-apache-spark==4.2.0
PyYAML==6.0.2
python-dotenv==1.0.1
langdetect==1.0.9
coloredlogs
aiohttp
humanfriendly
kafka-python==2.2.11
requests==2.32.3
deltalake==0.18.0
pyarrow>=14 
pandas==2.2.2
pydub==0.25.1
vosk==0.3.45

numpy==1.26.4
pyspark==3.5.1
sentence-transformers==3.0.1
transformers==4.41.2
scikit-learn==1.5.1
pymongo==4.7.3

faker>=19.0.0
confluent-kafka>=2.1.1
