apache-airflow-providers-apache-spark==4.2.0
six==1.17.0
kafka-python==2.2.11
python-dotenv==1.0.1
langdetect==1.0.9

pyspark==3.5.6
delta-spark==3.1.0
ffmpeg==1.4.0
pydub==0.25.1
faster-whisper==1.1.1